---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.wrapper{
    width:100%;
    margin: 0 auto;
}

#left-block  { 
float: left;  
width: 35%;
}

#right-block  {
float: right;    
width: 60%;
padding-left: 3%;
padding-right: 2%
}

#mail {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
}
