---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/*.site-header {
 background-color: black;
}

.site-title, .page-link {
 color: white !important;
}*/


#mail {
    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
